{extend name="base" /}
{block name="title"}简单旅行{/block}
{block name="nav"}
<li class="nav-item"><a href="/" class="nav-link">首页</a></li>
<li class="nav-item"><a href="/places" class="nav-link">景点</a></li>
<li class="nav-item"><a href="/hotels" class="nav-link">酒店</a></li>
<li class="nav-item"><a href="/restaurants" class="nav-link">餐厅</a></li>
<li class="nav-item active"><a href="/blogs" class="nav-link">分享</a></li>
{/block}
{block name="content"}
<div class="hero-wrap js-fullheight" style="background-image: url('/static/front/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">好文分享列表</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            {volist name="blog_list" id="article"}
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="/blog/{$article.id}" class="block-20" style="background-image: url('{$article.img}');">
                    </a>
                    <div class="text">
                        <span class="tag">{$article.title}</span>
                        <h3 class="heading mt-3"><a href="/blog/{$article.id}">{$article.outline}</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">{$article.create_time}</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {if condition="$blog_list != null"}
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <!--<li><a href="#">2</a></li>-->
                        <!--<li><a href="#">3</a></li>-->
                        <!--<li><a href="#">4</a></li>-->
                        <!--<li><a href="#">5</a></li>-->
                        <li><a href="#">&gt;</a></li>
                        {else /}
                        暂无数据
                        {/if}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}